<h1>Quadros de tarefas</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_tasks_path(list) %>

      <% if policy(list).edit? %>
        <div data-controller="toggle">
          <button data-action="click->toggle#fire" class="btn btn-outline-primary">
            <i class="fa-solid fa-pencil-alt"></i>
            Editar
          </button>
          <div data-toggle-target="togglableElement" class="d-none mt-2">
            <%= render "shared/list_form", list: list %>
          </div>
        </div>
      <% end %>

      <% if policy(list).destroy? %>
        <%= button_to list, method: :delete, form: { data: { turbo_confirm: "Deseja deletar #{list.name}?" } }, class: "btn btn-outline-danger", title: "Delete" do %>
          <i class="fa-solid fa-trash"></i>
          Deletar
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>



<div data-controller="toggle">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Criar novo quadro</button>

  <div data-toggle-target="togglableElement" class="d-none mt-2">
    <%= render "shared/list_form", list: @list %>
  </div>
</div>
