<div class="row justify-content-center pt-5">
  <div class="col-sm-8">
    <% if @tasks.any? %>
        <% @tasks.each do |task| %>
          <div data-id="<%= task.id %>">
            <%= render "shared/list_card", task: task %>
          </div>
        <% end %>
    <% else %>
      <em>Não há tarefas.</em>
    <% end %>
  </div>
</div>
